#cuerpo{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color:#0079eb;
}
#header {
    align-self: start;
    color: #fff;
    
}
#contentContainer {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border-radius:  15px;
    font-family: "roboto",sans-serif;

}
#titulo{
    font-family: "roboto",sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
}
#figureContainer{
    width: 240px;
}
#fileLabel{
    margin-top: 20px;
}
#file{
    margin-top: 20px;
}
#img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
#secondRow {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(218, 218, 218);
  }
#Contact{
    background-color: #0079eb;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 220px;
    font-family: "roboto",sans-serif;
    border-radius:  15px;

}
#fileLabel{
    margin-top: 20px;
}
#file{
    margin-top: 20px;
}
#capitulosContainer{
    background-color: #0079eb;
    color: #ffffff;
    border-radius:  15px;
    padding:30px;
    font-family: "roboto",sans-serif;
    width: 220px;
}
#IMG3{
    background-color: #0079eb;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 90px;
    border-radius: 15px;
    font-family: "roboto",sans-serif;

}
#progressContainer{
    margin:20px;
    padding:20px;
    background-color: #fff;
    color: #000;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 90px;
    border-radius: 15px;
    font-family: "roboto",sans-serif;

}